<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <test verbose="2" preserve-order="true"-->
<!--          name="E:/PROJECT_EPAM/Final_mani_project/src/test/java/org/example/AppTest.java">-->
<!--        <classes>-->
<!--            <class name="org.example.AppTest">-->
<!--                <methods>-->
<!--                    <include name="open_link"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    <test verbose="2" preserve-order="true"
          name="E:/PROJECT_EPAM/Final_mani_project/src/test/java/org/GoogleCloud/Googlecloud_Test1.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="Url" value="https://cloud.google.com/"></parameter>
        <classes>
            <class name="org.GoogleCloud.Googlecloud_Test">
                <methods>
                    <include name="openGoogleCloud"/>
                    <include name="test"/>
                    <include name="checkData"/>
                </methods>
            </class>

        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="E:/PROJECT_EPAM/Final_mani_project/src/test/java/org/GoogleCloud/Googlecloud_Test2.java">
        <parameter name="browser" value="edge"></parameter>
        <parameter name="Url" value="https://cloud.google.com/"></parameter>
        <classes>
            <class name="org.GoogleCloud.Googlecloud_Test">
                <methods>
                    <include name="openGoogleCloud"/>
                    <include name="test"/>
                    <include name="checkData"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>